	<form action="/user/update/<%=user.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a user... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= user.name %>" name="name" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= user.robot %>" name="robot" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update User" class="btn btn-default"/>
		<a href="/user/show/<%=user.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	